<!--Aca va a estar mi vista, lo que se va a mostrar gracias al body en main.handlebars-->
<h1>Hola, {{nombre}}</h1>
<h1>NAME, {{name}}</h1>
<h1>LAST NAME, {{lastName}}</h1>
<h1>AGE, {{age}}</h1>
<h1>EMAIL, {{email}}</h1>
<h1>CEL, {{phone}}</h1>